<div class="content-navleft">
    <strong>&nbsp;</strong> 
</div>

<mat-card-content >
        <mat-card-content >
        <form [formGroup]="uxFormProfiles">
            <h1>{{title}}</h1>
                <ul *ngIf="errorMessages.length > 0" class="error-message">
                    <li *ngFor="let error of errorMessages">{{error.message}}</li>
                </ul>
                <mat-card-content>
                    <span>Status</span>
                    <span>                        
                        <mat-button-toggle-group formControlName="uxProfileActiveFilter">
                            <mat-button-toggle value="true" checked (click)="FilterProfilesClick(true)">Active</mat-button-toggle>
                            <mat-button-toggle value="false" (click)="FilterProfilesClick(false)">Inactive</mat-button-toggle>
                            <mat-button-toggle value="" (click)="FilterProfilesClick()">All</mat-button-toggle>
                        </mat-button-toggle-group>
                    </span>
                    <span class="content-spacer"></span>
                    <span>
                        &nbsp; &nbsp;
                        <button mat-flat-button (click)="openDialog()" color="primary">
                            <mat-icon aria-hidden="false" aria-label="Example login icon">person_add</mat-icon>
                            Add A Profile
                        </button>
                    </span>
                </mat-card-content>
            </form>

        <mat-card-content style="height: 500px;overflow: auto">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                    <!-- Position Column -->
                    <ng-container matColumnDef="ProfileId">
                        <th mat-header-cell *matHeaderCellDef class="content-table-header" style="width: 10%; text-align: center;"> <strong> Profile Id </strong></th>
                        <td mat-cell *matCellDef="let profile" style="text-align: right;padding-right:  5px;"> {{profile.profileId}}</td>
                    </ng-container>
                    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="content-table-header" 
                            style="text-align: left; padding-left: 5px;">
                            <strong>Name</strong> </th>
                        <td mat-cell *matCellDef="let profile" style="text-align: left; padding-left: 5px;">
                            {{profile.firstName}} {{profile.lastName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Status"   >
                        <th mat-header-cell *matHeaderCellDef class="content-table-header" style="width: 10%;"> 
                            <strong *ngIf="uxFormProfiles.controls.uxProfileActiveFilter.value === ''">Status </strong> 
                            &nbsp;
                        </th>
                        <td mat-cell *matCellDef="let profile" style="text-align: center;"> 
                            <strong *ngIf="uxFormProfiles.controls.uxProfileActiveFilter.value === ''" style="color: lightgray;" >
                                {{profile.active? 'Active': 'Inactive'}} 
                            </strong>
                            &nbsp;
                        </td>
                    </ng-container>
                    
                    <!-- Action Column -->
                    <ng-container matColumnDef="Action"> 
                        <th mat-header-cell *matHeaderCellDef class="content-table-header" style="width: 20%; text-align: center;">
                            <strong>Action</strong> 
                        </th>
                        <td mat-cell *matCellDef="let profile">
                            <button mat-button (click)="editProfileClick(profile)" color="primary">
                                <mat-icon aria-hidden="false" aria-label="edit" >edit</mat-icon>
                            </button>
                            <button mat-button (click)="deleteProfileClick(profile)"  color="warn">
                                <mat-icon aria-hidden="false" aria-label="delete" >delete</mat-icon >
                            </button>


                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="['ProfileId', 'name', 'Status', 'Action']; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['ProfileId', 'name', 'Status', 'Action'];"></tr>
            </table>
        </mat-card-content>
    </mat-card-content>

</mat-card-content>


