@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: #673ab7;

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  .basic-container {
    padding: 30px;
  }

  .version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
  }
  
.matcard-container-header {
    background-color: $primary;
    color: white;
    padding: 5px;
    margin: 0px;
  }

  .matcard-container-action {
    text-align: center;
  }

  .content-navleft {
    width: 250px;
    height:500px;
    float: left;
    background: whitesmoke;
    padding: 10px;
}

.content-table-header {
  background-color: $primary;
  color: white;
}

.error-message {
    color: red;
  }


  .content-spacer {
    flex: 1 1 auto;
  }

